@font-face {
  font-family: PokeFont;
  src: url(https://raw.githubusercontent.com/mariusschulz/react-pokedex/master/public/pokemon_gb.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 14px;
}

body {
  background: #f5f5f5;
}

.pokedex {
  background: #ab0712;
  border-radius: 16px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  color: white;
  display: grid;
  font-family: PokeFont, Menlo, Monaco, Consolas, monospace;
  gap: 32px;
  grid-template-columns: 300px 288px 1fr;
  grid-template-rows: 1fr 288px;
  height: 600px;
  line-height: 1.5rem;
  margin: auto;
  margin-top: calc(50vh - 300px);
  max-width: 1024px;
  padding: 32px;
}

.pokedex-details-popover {
  background: #ab0712;
  border-radius: 16px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  color: white;
  display: grid;
  font-family: PokeFont, Menlo, Monaco, Consolas, monospace;
  gap: 32px;
  grid-template-columns: 300px 288px 1fr;
  grid-template-rows: 1fr 288px;
  height: 600px;
  line-height: 1.5rem;
  margin: auto;
  margin-top: calc(50vh - 300px);
  max-width: 1024px;
  padding: 32px;
  position: relative;
}

.pokedex-details-popover-hidden {
  display: none;
}

.pokedex-move-name {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.pokedex-list {
  background: black;
  border: 2px solid white;
  grid-row-start: span 2;
  list-style-type: none;
  overflow: scroll;
  padding: 16px;
}

.pokedex-list button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: PokeFont, Menlo, Monaco, Consolas, monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 16px 16px 8px 16px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.pokedex-list button:hover,
.pokedex-list button:active,
.pokedex-list button.active {
  background: #666;
  outline: none;
}

.pokedex-list p {
  text-transform: uppercase;
}

.pokedex-description {
  background: black;
  border: 2px solid white;
  font-size: 12px;
  grid-column-start: span 2;
  line-height: 1.5rem;
  overflow: scroll;
  padding: 32px;
}

.pokedex-image {
  background: white;
}

.pokedex-image img {
  height: 288px;
  image-rendering: pixelated;
  width: 288px;
}

.pokedex-summary {
  background: black;
  border: 2px solid white;
  padding: 32px;
  position: relative;
}

.pokedex-summary h1 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.pokedex-summary button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: PokeFont, Menlo, Monaco, Consolas, monospace;
  font-size: 1.5rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.pokedex-summary button:hover {
  font-size: 2rem !important;
  text-shadow: 0rem 0rem 2rem white;
}

.pokedex-summary button:active {
  text-shadow: 0rem 0rem 1.5rem #ab0712;
}

.pokedex-property {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.pokedex-evolution {
  margin-top: 2rem;
}

.pokedex-evolution button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: PokeFont, Menlo, Monaco, Consolas, monospace;
  line-height: 1.5rem;
  padding: 16px 16px 8px 16px;
  float: left;
  text-transform: uppercase;
}

.evolution {
  width: 15rem;
  display: inline;
  text-align: left;
}

.evolution-hidden {
  display: none;
}

.evolution-button-box {
  width: fit-content;
  margin-bottom: 0.5rem;
}

.evolution-button-box p {
  font-size: 1.5rem;
}

.look-into-emoji:hover {
  text-shadow: 0.4rem 0.4rem 0rem grey;
}

.look-into-emoji:active {
  text-shadow: 0.4rem 0.4rem 0rem #ab0712;
}

.arrow-emoji:hover {
  text-shadow: 0rem 0rem 2rem white;
}

.arrow-emoji:active {
  text-shadow: 0rem 0rem 1.5rem #ab0712;
}

.expand-button {
}

.expand-button-hidden {
  display: none;
}

.minimize-button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: PokeFont, Menlo, Monaco, Consolas, monospace;
  font-size: 1.5rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}